{% extends 'base.html.twig' %}

{% block title %}Page introuvable - Basket-fit{% endblock %}

{% block body %}

    <h3 class="text-center">Page introuvable</h3>
    <hr>
    <p class="text-center">Désoler, cette page ne sembles pas être accessible pour le moment.</p>
    <br>
    <a href="{{ path('app_home_page') }}" class="btn btn-info align-items-center">Revenir à l'accueil</a>

{% endblock %}
